@media (min-width: 1450px )
  .mobile
    display: none
  
@media (max-width: 1450px)
  .container
    max-width: 1000px
  .header
    &__menu
      width: 90%
  .card
    &-2
      &__main
        min-width: auto
  .features
    &__card
      max-width: 362px
      max-height: 290px
      margin-left: 5px
      margin-right: 5px
  .howDoesItWorks
    &__line
      width: 570px
  .pricingPlan
    &__header
      width: 80%
    &__card
      min-width: 290px
  .testimonials
    &__img
      object-position: unset
    &__main
      margin-left: 45px
      flex-grow: 0
  .swiper-container
    max-width: 768px
  .footer
    &__company
      margin-left: 85px
@media (max-width: 1300px)
  .footer
    &__scrollButton
      left: 30px
@media (max-width: 1280px)
  .container
    max-width: 900px
  .header, .about, .howDoesItWorks, .features,
  .pricingPlan, .testimonials, .news, .freeTrial,
  .subscribe, .copyright
    &__logo
      font-size: 30px
    &__h1
      font-size: 30px
    &__h2
      font-size: 28px
    &__h3
      font-size: 20px
    &__card
      &-h3
        font-size: 16px
      &-p
        font-size: 14px
    &__main
      &-h2
        font-size: 28px
      &-p
        font-size: 14px
    &__item
      font-size: 14px
    &__header
      font-size: 28px
    &__p
      font-size: 14px
    &__rightTxt, &__leftTxt
      font-size: 14px
    &__text, &__link
      font-size: 14px
@media (max-width: 1194px)
  .button
    &-header
      font-size: 14px
  .pricingPlan
    &__button
      font-size: 14px
      padding-left: 30px
      padding-right: 30px
      padding-top: 10px
      padding-bottom: 10px
  .swiper-container
    max-width: 560px
  .freeTrial
    &__button
      font-size: 14px
  .subscribe
    &__input, &__button
      font-size: 14px
  .footer
    &__company
      margin-left: 35px
    &__scrollButton
      left: -20px
@media (max-width: 1194px)
  .header
    &__nav
      display: none
  .mobile
    display: block
  .menu
    display: none
    &-closed
      display: block
  .footer
    &__wrapper
      justify-content: flex-start
    &__company
      display: flex
      flex-direction: column
    &__scrollButton
      left: 125px
