@media (min-width: 1450px )
  .mobile
    display: none
  
@media (max-width: 1450px)
  .container
    max-width: 1000px
  .header
    &__menu
      width: 90%
  .card
    &-2
      &__main
        min-width: auto
  .features
    &__card
      max-width: 362px
      max-height: 290px