.header
  display: flex
  flex-direction: column
  &__svg-container
    display: inline-block
    // position: relative
    width: 100%
    vertical-align: middle
    overflow: hidden
  &__svg-content
    display: inline-block
    position: absolute
    top: 0
    left: 0
  &__logo
    background-color: $primaryColor
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    color: #fff
    padding: 25px 23px 32px 23px
    border-bottom-left-radius: 22px
    border-bottom-right-radius: 22px
    text-decoration: none
    &:hover
      color: $iconColor
      cursor: pointer
  &__menu
    display: flex
    max-width: 1300px
    justify-content: space-between
    position: absolute
    top: 0
    z-index: 1000
  &__elements
    display: flex
    flex-direction: column
    max-width: 655px
  &__h1
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
  &__p
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 27px
    text-align: center
  &__buttons
    align-self: center
.nav
  list-style: none
  display: flex
  align-items: center
  justify-content: space-between
.button
  &__header
    border-radius: 25px
    border-color: $primaryColor
    padding: 14px 44px 20px 44px
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 20px
    &-primary
      background-color: $primaryColor
      color: #fff
    &-secondary
      background-color: #fff
      color: $primaryColor

